
/*! Compile test */
body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

h1.title {
    font-weight: normal;
    text-transform: uppercase;
}

.quote {
    background: #41ade5;
    color: #fff;
    position: relative;
    z-index: 1;
}

.is-narrow {
    max-width: 760px;
}
h1.title:after {
    content: "";
    display: block;
    height: 1px;
    max-width: 200px;
    overflow: hidden;
    margin: 15px 0 0 -20px;
    background: #cccccc;
}
span.disc {
    max-width: 440px;
    display: block;
}

.description {
    margin: 1em auto 2.25em;
}


.button.is-primary {
    background-color: #0794fc;
}




