body {
    font-family: 'Ubuntu Condensed', sans-serif;
    //font-family: 'Rajdhani', sans-serif;
}


h1.title {
    font-weight: normal;
    text-transform: uppercase;
}


.hero {
    background-color: #0494fe;
    height: 500px;
    position: relative;
    z-index: 1;
    margin-bottom: 150px;
    color: #ffffff;
    h1.title {
        color: #ffffff;
        &:after {
            background: #ffffff;
        }
    }
    &:after {
        background: inherit;
        bottom: 0;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(-1.5deg);
        transform-origin: 100%;
        z-index: -1;
    }
}





section.section.section-footer {
    position: relative;
    overflow: hidden;
}

.section-footer:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    z-index: -1;
    background: #e2e2e2;
}
.donation-block {
    background: #0594ff;
    text-align: center;
    padding: 15px;
    color: #ffffff;
}











.quote {
    background: #41ade5;
    color: #fff;
    position: relative;
    z-index: 1;
}



.float-content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -150px;
}







div#left {
    position: absolute;
    left: 64px;
    top: 14px;
    span {
        margin-bottom: 10px;
        display: block;
        color: #ffffff;
        text-transform: uppercase;
    }
}

div#right {
    position: absolute;
    right: 64px;
    top: 14px;
    span {
        margin-bottom: 10px;
        display: block;
        color: #ffffff;
        text-transform: uppercase;
    }
}



div#secret {
    background: #ffffff;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    right: 44px;
    top: 0;
    padding: 10px;
    transform-origin: 100% 0;
    width: 320px;
    text-align: center;
}




div#address {
    background: #ffffff;
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    left: 44px;
    top: 0px;
    padding: 10px;
    transform-origin: 0 0;
    width: 320px;
    text-align: center;
}




div#qraddr {
    background: #ffffff;
    padding: 10px;
}

div#qrsecr {
    background: #ffffff;
    padding: 10px;
}


.is-narrow {
    max-width: 760px;
}





h1.title:after {
    content: "";
    display: block;
    height: 1px;
    max-width: 200px;
    overflow: hidden;
    margin: 15px 0 0 -20px;
    background: #cccccc;
}

span.disc {
    max-width: 440px;
    display: block;
}




.ripple-stats {
    width: 100%;
    display: block;
    border: 1px solid #cccccc;
    padding: .75em;
    transition: background .3s ease;
    margin-bottom: 8px;
    color: #363636;
}




.description {
    margin: 1em auto 2.25em;
}


.wallet-info {
    display: block;
    position: absolute;
    bottom: 16px;
    margin: 0 36px;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
}
.wallet-logo {
    display: inline-block;
    /* float: right; */
    position: absolute;
    right: 0;
    bottom: 0;
}
.wallet-copy {
    max-width: 400px;
    display: inline-block;
}






ul {
    list-style: none;
    padding: 0;
}
ul .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}
ul .inner.show {
    /*display: block;*/
}
ul li {
    margin: .5em 0;
}
ul li a.toggle {
    width: 100%;
    display: block;
    border: 1px solid #cccccc;
    padding: .75em;
    transition: background .3s ease;
    margin-bottom: 8px;
    color: #363636;
    text-transform: uppercase;
}
ul.inner.show {
    border: 1px solid #cccccc;
    padding: .75em;
    // margin-top: 8px;
}

a.toggle:after {
    content: '\f067';
    font-family: "Font Awesome 5 Free";
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    color: #06abfe;
    color: #cccccc;
    float: right;
}
